
body{
    text-align: center;
}
input {
    width:150px;
    height:100px;
    color: #fff;
    font-size:75px;
    background-color:#000;
    border-style:none;
    margin:10px;
    border-radius:10px;
    transition: background-color 0.5s;

}
#myform{
    margin-left:225px;
    margin-top:20px;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-right: 150px;
    font-size:80px;

}
#read{
    width: 625px;
    height:100px;
    text-align:center;
    background-color: #1f80c9;
}
input:hover{
    background-color: #ff8901;
}